//Display
$display-prop: (
  none: none,
  flex: flex,
  block: block,
  inline: inline,
  inline-block: inline-block
)!default;

@each $point in map-keys($grid-breakpoints) {
  $infix: get-infix($point, $grid-breakpoints);
  @include breakpoint-up($point, $grid-breakpoints) {
    @each $name, $prop in $display-prop {
      .d#{$infix}-#{$name} {display: #{$prop}!important}
    }
  }
}
