//spacing
$spacer: 1rem !default;
$spacers: (
  0: $spacer * 0,
  1: $spacer * 1.5,
  2: $spacer * 2.5,
  3: $spacer * 3.5
)!default;

$space-prop: (
  margin: m,
  padding: p
);

@each $point in map-keys($grid-breakpoints) {
  $infix: get-infix($point, $grid-breakpoints);
  @include breakpoint-up($point, $grid-breakpoints) {
    @each $prop, $abbr in $space-prop {
      @each $size, $len in $spacers {
        .#{$abbr}t#{$infix}-#{$size},
        .#{$abbr}y#{$infix}-#{$size} {
          #{$prop}-top: $len;
        }

        .#{$abbr}b#{$infix}-#{$size},
        .#{$abbr}y#{$infix}-#{$size} {
          #{$prop}-bottom: $len;
        }
        .#{$abbr}#{$infix}-#{$size} {
            #{$prop}: $len;
        }
      }
    }

    .m#{$infix}-auto { margin: auto !important; }
    .mt#{$infix}-auto,
    .my#{$infix}-auto {
      margin-top: auto !important;
    }
    .mr#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-right: auto !important;
    }
    .mb#{$infix}-auto,
    .my#{$infix}-auto {
      margin-bottom: auto !important;
    }
    .ml#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-left: auto !important;
    }
  }
}
