//text
@each $point in map-keys($grid-breakpoints) {
  $infix: get-infix($point, $grid-breakpoints);
  @include breakpoint-up($point, $grid-breakpoints) {
    .text#{$infix}-left { text-align: left!important; }
    .text#{$infix}-right { text-align: right!important; }
    .text#{$infix}-center { text-align: center!important; }
  }
}
